:root{
    --main-blue-color: #0089FF !important;
    --main-light-blue: #4AABFF !important;
    --white-color: #ffffff !important;
    --non-highlighted: #BCBCBC !important;
    --header-text: #969696 !important;
}